<!-- HOOFDSTUK IX -->
<section id="chapter-1" class="stack">
        <p id="d1e6536-1-1" class="ti-section-1">
            <span class="italic">HOOFDSTUK X</span>
        </p>
        <p id="L_2016119NL.01000101-d-025" class="ti-section-2">
            <span class="bold">
         <span class="italic">Gedelegeerde handelingen en uitvoeringshandelingen</span>
            </span>
        </p>
        <p id="d1e6546-1-1" class="ti-art">Artikel 92</p>
        <p class="sti-art">Uitoefening van de bevoegdheidsdelegatie</p>
        <p class="normal">1.&nbsp;&nbsp;&nbsp;De bevoegdheid om gedelegeerde handelingen vast te stellen, wordt aan de Commissie toegekend onder de in dit artikel neergelegde voorwaarden.</p>
        <p class="normal">2.&nbsp;&nbsp;&nbsp;De in artikel&nbsp;12, lid&nbsp;8, en artikel&nbsp;43, lid&nbsp;8, bedoelde bevoegdheidsdelegatie wordt aan de Commissie toegekend voor onbepaalde tijd met ingang van 24&nbsp;mei 2016.</p>
        <p class="normal">3.&nbsp;&nbsp;&nbsp;Het Europees Parlement of de Raad kan de in artikel&nbsp;12, lid&nbsp;8, en artikel&nbsp;43, lid&nbsp;8, bedoelde bevoegdheidsdelegatie te allen tijde intrekken. Het besluit tot intrekking beëindigt de delegatie van de in dat
            besluit genoemde bevoegdheid. Het wordt van kracht op de dag na die van de bekendmaking ervan in het <span class="italic">Publicatieblad van de Europese Unie</span> of op een daarin genoemde latere datum. Het laat de geldigheid van de reeds
            van kracht zijnde gedelegeerde handelingen onverlet.</p>
        <p class="normal">4.&nbsp;&nbsp;&nbsp;Zodra de Commissie een gedelegeerde handeling heeft vastgesteld, doet zij daarvan gelijktijdig kennisgeving aan het Europees Parlement en de Raad.</p>
        <p class="normal">5.&nbsp;&nbsp;&nbsp;Een overeenkomstig artikel&nbsp;12, lid&nbsp;8, en artikel&nbsp;43, lid&nbsp;8, vastgestelde gedelegeerde handeling treedt alleen in werking indien het Europees Parlement noch de Raad daartegen binnen een termijn van drie maanden
            na de kennisgeving van de handeling aan het Europees Parlement en de Raad bezwaar heeft gemaakt, of indien zowel het Europees Parlement als de Raad voor het verstrijken van die termijn de Commissie hebben medegedeeld dat zij daartegen geen
            bezwaar zullen maken. Die termijn wordt op initiatief van het Europees Parlement of van de Raad met drie maanden verlengd.</p>
        <p id="d1e6582-1-1" class="ti-art">Artikel 93</p>
        <p class="sti-art">Comitéprocedure</p>
        <p class="normal">1.&nbsp;&nbsp;&nbsp;De Commissie wordt bijgestaan door een comité. Dat comité is een comité in de zin van Verordening (EU) nr.&nbsp;182/2011.</p>
        <p class="normal">2.&nbsp;&nbsp;&nbsp;Wanneer naar dit lid wordt verwezen, is artikel&nbsp;5 van Verordening (EU) nr.&nbsp;182/2011 van toepassing.</p>
        <p class="normal">3.&nbsp;&nbsp;&nbsp;Wanneer naar dit lid wordt verwezen, is artikel&nbsp;8 van Verordening (EU) nr.&nbsp;182/2011, in samenhang met artikel&nbsp;5 van die verordening, van toepassing.</p>
        <p id="d1e6603-1-1" class="ti-section-1">
            <span class="italic">HOOFDSTUK XI</span>
        </p>
        <p id="L_2016119NL.01000101-d-026" class="ti-section-2">
            <span class="bold">
         <span class="italic">Slotbepalingen</span>
            </span>
        </p>
        <p id="d1e6613-1-1" class="ti-art">Artikel 94</p>
        <p class="sti-art">Intrekking van Richtlijn 95/46/EG</p>
        <p class="normal">1.&nbsp;&nbsp;&nbsp;Richtlijn 95/46/EG wordt met ingang van 25&nbsp;mei 2018 ingetrokken.</p>
        <p class="normal">2.&nbsp;&nbsp;&nbsp;Verwijzingen naar de ingetrokken richtlijn gelden als verwijzingen naar deze verordening. Verwijzingen naar de groep voor de bescherming van personen in verband met de verwerking van persoonsgegevens, die bij artikel&nbsp;29
            van Richtlijn 95/46/EG is opgericht, gelden als verwijzingen naar het bij deze verordening opgerichte Europees Comité voor gegevensbescherming.</p>
        <p id="d1e6631-1-1" class="ti-art">Artikel 95</p>
        <p class="sti-art">Verhouding tot Richtlijn 2002/58/EG</p>
        <p class="normal">Deze verordening legt natuurlijke personen of rechtspersonen geen aanvullende verplichtingen op met betrekking tot verwerking in verband met het verstrekken van openbare elektronische-communicatiediensten in openbare communicatienetwerken in de
            Unie, voor zover zij op grond van Richtlijn 2002/58/EG onderworpen zijn aan specifieke verplichtingen met dezelfde doelstelling.</p>
        <p id="d1e6638-1-1" class="ti-art">Artikel 96</p>
        <p class="sti-art">Verhouding tot eerder gesloten overeenkomsten</p>
        <p class="normal">Internationale overeenkomsten betreffende de doorgifte van persoonsgegevens aan derde landen of internationale organisaties die door de lidstaten zijn gesloten vóór 24&nbsp;mei 2016, en die in overeenstemming zijn met het vóór die datum toepasselijke
            Unierecht, blijven van kracht totdat zij worden gewijzigd, vervangen of ingetrokken.</p>
        <p id="d1e6648-1-1" class="ti-art">Artikel 97</p>
        <p class="sti-art">Commissieverslagen</p>
        <p class="normal">1.&nbsp;&nbsp;&nbsp;Uiterlijk op 25&nbsp;mei 2020 en om de vier jaar daarna, dient de Commissie een verslag in bij het Europees Parlement en de Raad over de evaluatie en de toetsing van deze verordening. De verslagen worden openbaar gemaakt.</p>
        <p class="normal">2.&nbsp;&nbsp;&nbsp;In het kader van de in lid&nbsp;1 bedoelde evaluaties en toetsingen beoordeelt de Commissie met name de toepassing en de werking van:</p>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <colgroup>
                <col width="4%">
                <col width="96%">
            </colgroup>
            <tbody>
                <tr>
                    <td valign="top">
                        <p class="normal">a)</p>
                    </td>
                    <td valign="top">
                        <p class="normal">hoofdstuk&nbsp;V betreffende de doorgifte van persoonsgegevens aan derde landen of internationale organisaties, in het bijzonder met betrekking tot krachtens artikel&nbsp;45, lid&nbsp;3, van deze verordening vastgestelde besluiten
                            en op grond van artikel&nbsp;25, lid&nbsp;6, van Richtlijn 95/46/EG vastgestelde besluiten;</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <colgroup>
                <col width="4%">
                <col width="96%">
            </colgroup>
            <tbody>
                <tr>
                    <td valign="top">
                        <p class="normal">b)</p>
                    </td>
                    <td valign="top">
                        <p class="normal">hoofdstuk&nbsp;VII betreffende samenwerking en coherentie.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="normal">3.&nbsp;&nbsp;&nbsp;Voor het in lid&nbsp;1 vermelde doel kan de Commissie zowel de lidstaten als toezichthoudende autoriteiten om informatie verzoeken.</p>
        <p class="normal">4.&nbsp;&nbsp;&nbsp;Bij de uitvoering van de in de leden&nbsp;1 en&nbsp;2 vermelde evaluaties en toetsingen neemt de Commissie de standpunten en bevindingen van het Europees Parlement, van de Raad, en van andere relevante instanties of bronnen
            in aanmerking.</p>
        <p class="normal">5.&nbsp;&nbsp;&nbsp;Indien nodig dient de Commissie passende voorstellen in teneinde deze verordening te wijzigen, met name in het licht van de ontwikkelingen in de informatietechnologie en de stand van zaken in de informatiemaatschappij.</p>
        <p id="d1e6695-1-1" class="ti-art">Artikel 98</p>
        <p class="sti-art">Toetsing van andere Unierechtshandelingen inzake gegevensbescherming</p>
        <p class="normal">Indien passend dient de Commissie wetgevingsvoorstellen in teneinde andere Unierechtshandelingen betreffende de bescherming van persoonsgegevens te wijzigen en aldus een uniforme en consequente bescherming van natuurlijke personen te garanderen
            in verband met verwerking. Het gaat hierbij met name om de regels betreffende de bescherming van natuurlijke personen in verband met verwerking door instellingen, organen en instanties van de Unie, en betreffende het vrije verkeer van die
            gegevens.</p>
        <p id="d1e6702-1-1" class="ti-art">Artikel 99</p>
        <p class="sti-art">Inwerkingtreding en toepassing</p>
        <p class="normal">1.&nbsp;&nbsp;&nbsp;Deze verordening treedt in werking op de twintigste dag na die van de bekendmaking ervan in het <span class="italic">Publicatieblad van de Europese Unie</span>.</p>
        <p class="normal">2.&nbsp;&nbsp;&nbsp;Zij is van toepassing met ingang van 25&nbsp;mei 2018.</p>
        <div class="final">
            <p class="normal">Deze verordening is verbindend in al haar onderdelen en is rechtstreeks toepasselijk in elke lidstaat.</p>
            <p class="normal">Gedaan te Brussel, 27&nbsp;april 2016.</p>
            <div class="signatory">
                <p class="signatory">
                    <span class="italic">Voor het Europees Parlement</span>
                </p>
                <p class="signatory">
                    <span class="italic">De voorzitter</span>
                </p>
                <p class="signatory">M. SCHULZ</p>
            </div>
            <div class="signatory">
                <p class="signatory">
                    <span class="italic">Voor de Raad</span>
                </p>
                <p class="signatory">
                    <span class="italic">De voorzitter</span>
                </p>
                <p class="signatory">J.A. HENNIS-PLASSCHAERT</p>
            </div>
        </div>
</section>
