:root{
  --color-primary    : #3F51B5;
  --color-ash     : #fafafa;
  --color-truce   : #FFF;
  --color-abyss   : #000;
  --distance      : 1rem;
  --transition    : all 0.3s ease-in-out;
}
/* ==================== PROGRESS BAR ==================== */
progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: .25em;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--color-primary);
}
progress::-webkit-progress-bar {
  background-color: transparent;
}
::-webkit-progress-value {
  background-color: var(--color-primary);
}.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: var(--color-primary);
  width: 50%;
  display: block;
  height: inherit;
}


/* ==================== INDEX ==================== */
ul li{
  list-style: none;
}
ul.index{
  margin: 0;
  padding-left: 0;
}
.index li{
  transition: all 0.3s ease-in-out;
}
.index li:not(:last-child){
  border-bottom: 1px solid var(--color-primary);
}
.index li:hover{
  background-color: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.index li:hover a{
  color: var(--color-truce);
  transition: all 0.3s ease-in-out;
  padding-left: 1rem;
}

.index a small{
  font-size: 0.75rem;
  letter-spacing: 3px;
}
.index a{
  font-size: 1.25rem;
}
/* ==================== BASICS ==================== */
::selection{
  background-color: var(--color-primary);
  color: var(--color-truce);
}
.show{
  opacity: 1 !important;
}
body{
  font-family: 'Open Sans';
  background-color: var(--color-ash);
}
.content{
  background-color: var(--color-truce);
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
}
.controls{
  border-top: 1px solid var(--color-abyss);
}
/* ==================== TEXT ==================== */
p{
  line-height: 1.75;
}
header{
  background-color: var(--color-ash);
}
h1 span{
font-size: smaller;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
/* ==================== HEADER ==================== */
.logo{
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
  display: inline-block;
}
.menu span{
  font-size: 1.5rem;
}
.backtotop{
  position: fixed;
  bottom: var(--distance);
  right: var(--distance);
  opacity: 0;
  background-color: var(--color-primary);
}
.round{
  text-align: center;
  font-size: var(--distance);
  height: calc(var(--distance) * 3);
  width: calc(var(--distance) * 3);
  padding: 0;
  border-radius: 50%;
  line-height: calc(var(--distance) * 3);
}
a.round{
  color: var(--color-truce);
  transition: var(--transition);
}
a:hover.round{
  transform: translateY(-5px);
  box-shadow: 0 14px 26px -12px rgba(0,0,0, 0.42), 0 4px 23px 0px rgba(35, 31, 32, 0.12), 0 8px 10px -5px rgba(0,0,0, 0.2);
}
.footer{
  opacity: 0.3;
}
footer small{
  color: var(--color-abyss);
}
.footer__logo{
  width: 25px;
  display: block;
}
table {
  text-indent: 2rem;
}

div.final {
	margin-top: 24px;
	margin-left: 54px;
	margin-right: 54px;
}
div.signatory {
	margin-left: 267px;
	margin-right: 54px;
}
div.text-l {
	font-size: 1em;
	text-align: justify;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 13px;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
}


hr.doc-sep {
	width: 10%;
  border-top: 1px dashed #8c8b8b;
  border-bottom: 1px dashed #fff;
	/* text-align: center; */
	margin-top: 8px;
	margin-bottom: 8px;
}

hr.separator {
	width: 100%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	margin-top: 4px;
	margin-bottom: 4px;
}

p.addr {
	text-align: justify;
	margin-top: 0;
	margin-bottom: 0;
}
p.center {
	/* text-align: center; */
	margin-top: 8px;
	margin-bottom: 0;
}
p.doc-ti {
	font-weight: bold;
	/* text-align: center; */
	margin-top: 16px;
	margin-bottom: 8px;
}
p.edition {
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.hd-date {
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.hd-lg {
	/* text-align: center; */
	margin-top: 8px;
	margin-bottom: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}
p.hd-oj {
	text-align: right;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.hd-ti {
	/* text-align: center; */
	margin-top: 8px;
	margin-bottom: 8px;
}
p.image {
	/* text-align: center; */
	margin-top: 8px;
	margin-bottom: 8px;
}
p.issn {
	font-size: 0.8em;
	text-align: right;
	margin-top: 16px;
	margin-bottom: 8px;
}
p.lg {
	font-size: 3em;
	font-weight: bold;
	/* text-align: center; */
	margin-top: 8px;
	margin-bottom: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 13px;
}
p.no-doc-c {
	/* text-align: center; */
	margin-top: 8px;
	margin-bottom: 8px;
}
p.normal {
	text-align: justify;
	margin-top: 8px;
}
p.note {
	font-size: 0.8em;
	text-align: justify;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.separator {
	/* text-align: center; */
	margin-top: 8px;
	margin-bottom: 8px;
}
p.signatory {
	/* text-align: center; */
	margin-top: 4px;
	margin-bottom: 4px;
}
p.sti-art {
	font-weight: bold;
	/* text-align: center; */
	margin-top: 4px;
	margin-bottom: 8px;
}
p.tbl-cod {
	font-size: 0.9em;
	/* text-align: center; */
	margin-right: 13px;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.tbl-hdr {
	font-size: 0.9em;
	font-weight: bold;
	/* text-align: center; */
	margin-right: 13px;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.tbl-notcol {
	font-size: 0.9em;
	text-align: right;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.tbl-num {
	font-size: 0.9em;
	text-align: right;
	margin-right: 13px;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.tbl-txt {
	font-size: 0.9em;
	text-align: left;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.text-l {
	text-align: justify;
	margin-top: 4px;
	margin-bottom: 4px;
}
p.ti-annotation {
	font-style: italic;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 0;
}
p.ti-art {
	font-style: italic;
	/* text-align: center; */
	margin-left: -1rem;
  font-weight: bolder;
}
.ti-art::after{
  content: '';
  display: block;
  /*margin: 0 auto;*/
  width: 100%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, var(--color-primary), var(--color-truce), var(--color-truce));
}
p.ti-coll {
	font-size: 1.5em;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.ti-doc-dur {
	font-size: 1.1em;
	font-weight: bold;
	text-align: justify;
	margin-top: 12px;
	margin-bottom: 8px;
}
p.ti-doc-dur-assoc {
	font-size: 1.1em;
	font-weight: bold;
	text-align: justify;
	margin-top: 12px;
	margin-bottom: 8px;
}
p.ti-doc-dur-num {
	font-size: 1.1em;
	font-weight: bold;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 0;
}
p.ti-doc-dur-star {
	font-size: 1.1em;
	font-weight: bold;
	/* text-align: center; */
	margin-top: 12px;
	margin-bottom: 8px;
}
p.ti-doc-eph {
	font-size: 1.1em;
	text-align: justify;
	margin-top: 12px;
	margin-bottom: 8px;
}
p.ti-grseq-1 {
	font-weight: bold;
	text-align: justify;
	margin-top: 16px;
	margin-bottom: 8px;
}
p.ti-grseq-toc {
	font-style: italic;
	/* text-align: center; */
	margin-top: 16px;
	margin-bottom: 8px;
}
p.ti-oj-1 {
	font-size: 3em;
	font-weight: bold;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 0;
}
p.ti-oj-2 {
	font-size: 2em;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.ti-oj-3 {
	font-size: 3em;
	font-weight: bold;
	text-align: right;
	margin-top: 8px;
	margin-bottom: 0;
}
p.ti-sect-1-n {
	font-size: 1.1em;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.ti-sect-1-t {
	font-size: 1.1em;
	font-style: italic;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.ti-sect-2 {
	font-size: 1.1em;
	text-align: left;
	margin-top: 8px;
	margin-bottom: 8px;
}
p.ti-section-1 {
  margin-left: -1rem;
	font-weight: bold;
	/* text-align: center; */
	margin-top: 0;
	margin-bottom: 0;
}
p.ti-section-2 {
	font-weight: bold;
  margin-left: -1rem;
	/* text-align: center; */
	margin-top: 5px;
	margin-bottom: 8px;
}
p.ti-tbl {
	/* text-align: center; */
	margin-top: 8px;
	margin-bottom: 8px;
}
p.year-date {
	font-weight: bold;
	text-align: right;
	margin-top: 8px;
	margin-bottom: 8px;
}

span.bold {
	font-weight: bold;
}
span.italic {
	font-style: italic;
}
span.sp-normal {
	font-weight: bold;
	font-style: italic;
}
span.sub {
	vertical-align: sub;
}
span.super {
	vertical-align: super;
}
span.stroke {
	text-decoration:line-through;
}

span.underline {
	text-decoration:underline;
}

.table {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-spacing: 0;
}

/* Jira EURLEXNEW-576 */
.ti-info {
	text-decoration:underline;
}